/* general css */
.margin-btn-80 {
  margin-bottom: 80px !important;
}

.text-max-width {
  max-width: 600px;
}

.inner_widht {
  max-width: 800px !important;
}

.work-page p {
  text-align: left !important;
}

.space {
  width: 100%;
  height: 100%;
  --_padding-top: var(--padding-top, var(--spacing-m));
  --_padding-bottom: var(--padding-bottom, var(--spacing-m));
  --_padding-left: var(--padding-left, var(--24px));
  --_padding-right: var(--padding-right, var(--24px));
  padding-top: var(--_padding-top);
  padding-bottom: var(--_padding-bottom);
  padding-left: var(--_padding-left);
  padding-right: var(--_padding-right);
  max-width: var(--max-width);
  position: relative;
  z-index: var(--zindex-base);
}

/* page css */

.work-page-info {
  text-align: left;
}

.work-page-item {
  margin-bottom: 40px;
}
.work-page h3 {
  margin-bottom: var(--spacing-xxs);
  font-size: var(--font-link);
  line-height: 110%;
  font-family: var(--titleFont);
  font-weight: 700;
  color: #d4ede4;
  /* text-align: center; */
}

/* @media screen and (max-width: 578px) {
  .work-page h3 {
    text-align: left;
  }
} */

.work-page p {
  font-size: var(--font-link);
  line-height: 160%;
  font-family: var(--titleFont);
  font-weight: 700;
  color: var(--color-mint);
}

.work-page-info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.timeline {
  text-align: left;
}

.work-page .image {
  width: 100%;
  height: 100%;
  --_padding-top: var(--padding-top, var(--spacing-xl));
  --_padding-bottom: var(--padding-bottom, var(--spacing-xl));
  --_padding-left: var(--padding-left, var(--24px));
  --_padding-right: var(--padding-right, var(--24px));
  padding-top: var(--_padding-top);
  padding-bottom: var(--_padding-bottom);
  padding-left: var(--_padding-left);
  padding-right: var(--_padding-right);
  max-width: var(--max-width);
  position: relative;
  z-index: var(--zindex-base);
}

.work-page .image,
.work-page .image2 {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}
.work-page .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: var(--shadow-lg);
  border-radius: var(--radius-base);
  overflow: hidden;
  position: relative;
  z-index: 0;
  transition: all 0.3s;
}

.work-page .feature .image p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.work-page .feature .image:hover img {
  filter: brightness(50%); /* Apply black overlay effect */
}

.work-page .feature .image:hover p {
  opacity: 1; /* Show the text on hover */
}

.work-page .team {
  display: flex;
  align-items: center;
  gap: 5px;
}

.avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background: red;
  line-height: 1.1;
  color: white;
}

.landscape-image {
  width: 100% !important;
  max-width: 100% !important;
  height: 0 !important;
  padding-bottom: 50% !important;
  position: relative !important;
  overflow: hidden !important;
}

.landscape-image img {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.feature h3 {
  text-align: left;
}

.feature {
  display: grid;
  gap: 40px;
}

.portrait-imgage {
  width: 100% !important;
  max-width: 100% !important;
  height: 0 !important;
  padding-bottom: 50% !important;
  position: relative !important;
  overflow-y: auto !important;
}

.technical_feature {
  text-align: left;
}

.technical_feature_item {
  border-bottom: solid 1px white;
  margin-bottom: 25px;
  padding-bottom: 8px;
}
