.grid-2-space {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid-elem {
  flex-grow: 1;
  max-height: 35vh;
  position: relative;
}

.grid-elem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 0;
}

.grid-elem h3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.hover-brightness:hover img {
  filter: brightness(50%); /* Apply black overlay effect */
}

.hover-brightness:hover h3 {
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .grid-2-space {
    display: flex !important;
    max-width: 100%;
    overflow-x: auto;
    gap: 15px;
  }

  .grid-elem {
    flex-grow: 1;
    max-height: 30vh;
    min-width: 300px;
  }
}
