.home {
  min-height: 100vh;
  height: 100%;
  background: var(--color-green800);
  display: flex;
  justify-content: center;
}

.outlet-container {
  max-width: 1600px;
  width: 100%;
  height: 100%;
}
